.stopwatch {
    font-family: monospace;
}

.task {
    margin: 1em 0;
    padding: 1em;
}

.task header div {
    text-align: right;
}

.task .stopwatch {
    height: 36px;
    line-height: 36px;
    font-size: 30px;
    font-weight: bold;
}

.task textarea {
    border: none;
    background: none;
    box-shadow: none;
    -webkit-transition: background-color 0.2s ease-in;
    -moz-transition: background-color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in;
    -ms-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
}

.task textarea:focus {
    background: white;

}

.tasks {
    margin: 0;
    padding: 0;
}

.tasks li {
    margin: 1em 0;
    padding: 0.5em 1em;
    list-style: none;
    font-size: 1.5em;
}

.tasks li .stopwatch {
    float: right;
}