{% extends "base.html" %}

{% block contents -%}
<h1>Test</h1>
<div class="row">
  <a href="{{ url_for('form_add_task') }}"
     class="span3 offset9 btn btn-primary btn-large">Add a task</a>
</div>
{% if top %}
<section class="task">
  <time class="stopwatch" datetime="{{ top.created_at.isoformat() }}">
    {{- top.elapsed|timedeltaformat -}}
  </time>
  <h1>{{ top.title }}</h1>
  <form method="post" action="{# url_for('edit_task', id=top.id) #}">
    <textarea name="context" class="span12">{{ top.context }}</textarea>
    <button type="submit">Revise</button>
  </form>
</section>
{% endif %}
<ol>
{% for i in stack %}
  <li>{{ i.title }}</li>
{% endfor %}
</ol>
{%- endblock %}
