{% extends "base.html" %}

{% block head %}
<script>
(function ($) {

function formatTimedelta(value) {
  value = Math.floor(value / 1000);  // cut off microsecods
  var seconds = value % 60;
  var minutes = Math.floor(value / 60);
  var hours = Math.floor(minutes / 60);
  minutes = minutes % 60;
  return hours + ':' + minutes + ':' + seconds;
}

setInterval(function () {
  $('time.stopwatch').html(function () {
    var $this = $(this);
    var timestamp = $this.data('timestamp');
    if (!timestamp) {
      timestamp = Date.parse($this.attr('datetime'));
      $this.data('timestamp', timestamp);
    }
    var elapsed = Date.now() - timestamp;
    return formatTimedelta(elapsed);
  });
}, 1000);

})(jQuery);
</script>
{% endblock %}

{% block contents -%}
<h1>StackWatch</h1>
<div class="row-fluid">
  <a href="{{ url_for('form_push_task') }}"
     class="span3 offset9 btn btn-primary btn-large">Add a task</a>
</div>
{% if top %}
<section class="task">
  <time class="stopwatch" datetime="{{ top.created_at.isoformat() }}">
    {{- top.elapsed|timedeltaformat -}}
  </time>
  <h1>{{ top.title }}</h1>
  <form method="post" action="{{ url_for('pop_task') }}">
    <button type="submit"><i class="icon-ok"></i> Done</button>
  </form>
  <form method="post" action="{{ url_for('edit_task', task_id=top.id) }}"
        class="row-fluid">
    <textarea name="context" class="span12"
              rows="{{ top.context|linecount + 2 }}">
      {{- top.context -}}
    </textarea>
    <button type="submit">Revise</button>
  </form>
</section>
{% endif %}
<ol class="tasks">
{% for i in stack %}
  <li><time class="stopwatch" datetime="{{ i.created_at.isoformat() }}">
    {{- i.elapsed|timedeltaformat -}}</time> {{ i.title -}}</li>
{% endfor %}
</ol>
{%- endblock %}
