{% extends "base.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/underscore.string.min.js') }}"></script>
<script>
(function ($) {

function formatTimedelta(value) {
  value = Math.floor(value / 1000);  // cut off microsecods
  var seconds = value % 60;
  var minutes = Math.floor(value / 60);
  var hours = Math.floor(minutes / 60);
  minutes = minutes % 60;
  var days = Math.floor(hours / 24);
  var result = '';
  if (days > 0) {
    hours = hours % 24;
    result = days + ' days ';
  }
  result += _.str.sprintf('%02d:%02d:%02d', hours, minutes, seconds);
  return result;
}

setInterval(function () {
  $('time.stopwatch').html(function () {
    var $this = $(this);
    var timestamp = $this.data('timestamp');
    if (!timestamp) {
      timestamp = Date.parse($this.attr('datetime'));
      $this.data('timestamp', timestamp);
    }
    var elapsed = Date.now() - timestamp;
    return formatTimedelta(elapsed);
  });
}, 1000);

})(jQuery);
</script>
{% endblock %}

{% block contents -%}
<h1>StackWatch</h1>
<div class="row-fluid">
  <a href="{{ url_for('form_push_task') }}"
     class="span3 offset9 btn btn-primary btn-large">Add a task</a>
</div>
{% if top %}
<section class="task well">
  <header class="row-fluid">
    <h1 class="span9">{{ top.title }}</h1>
    <div class="span3">
      <time class="stopwatch badge badge-important" datetime="
                   {{- top.created_at.isoformat() }}">
        {{- top.elapsed|timedeltaformat -}}
      </time>
    </div>
  </header>
  <form method="post" action="{{ url_for('pop_task') }}">
    <button type="submit"><i class="icon-ok"></i> Done</button>
  </form>
  <form method="post" action="{{ url_for('edit_task', task_id=top.id) }}"
        class="row-fluid">
    <textarea name="context" class="span12"
              rows="{{ top.context|linecount + 2 }}"
              placeholder="Write anything you want">
      {{- top.context -}}
    </textarea>
    <button type="submit">Revise</button>
  </form>
</section>
{% endif %}
<ol class="tasks">
{% for i in stack %}
  <li class="well">{{- i.title }}
    <time class="stopwatch" datetime="{{ i.created_at.isoformat() }}">
      {{- i.elapsed|timedeltaformat -}}
    </time></li>
{% endfor %}
</ol>
{%- endblock %}
